#markRN1{
    background-color: transparent;
}
h1{
    text-align: center;
    margin-bottom: 40px !important;
    background-color: wheat;
}
input[type="number"]{
    width: 90px;
    text-align: center;
}
input[type="text"]{
    width: 50px;
    text-align: center;
}
.floatL{
    float:right;
}
.lableBG{
    background-color: rgb(255, 123, 0);
}
