
.lableStyling{
    font-family: "Verdana", Geneva, Tahoma, sans-serif;
    margin-left: 45%;
    /* margin-top: 40% !important; */
    font-size: 30px;
    color: #ba070a;
    background-color: yellow;
}
body{
    /* background-color:rgba(187, 247, 247, 0.795); */
    background-image: url('../ResultMarksheet/imgs/background3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}



.inpnum{
    margin-left: 49%;
}

.btn{
    margin-left: 53.6%;
    background-color: #e92629;
    height:30px;
    border-radius:5px;
    color: aliceblue;
}
#iframe{
    border:none;
    margin-left:32%;
    width:50%;
    height:450px;
    /* background-color: rgba(255, 255, 255, 0.158); */
}
/* this code is used to remove the arrow keys from the number field aslo called (spin). */


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}